html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000000;
}

#title {
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
	color: #FCFCFC;
	text-align: center;
}

#query {
	margin: 0 0 10px 0;
	color: #FCFCFC;
	text-align: center;
}

#frame {
	width: 1240px;
	height: 640px;
	margin: 20px auto 0 auto;
	overflow: auto;
}
.list_title a {
	font-weight: bold;
}
.list_title span {
	color: #666666;
}
.list_snippet {
	padding-bottom: 12px;
	font-size: 0.9em;
}

#display {
	width: 1220px;
	height: 590px;
	margin: 0;
	overflow: hidden;
	background-color: #FFFFFF;
}
.iframe {
	padding: 0;
	border: none;
}
.google {
	padding: 10px;
}
