html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #FFFFFF;
}

div#title {
	margin: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
	color: #090909;
	text-align: center;
}

div#query {
	margin: 0 0 10px 0;
	color: #090909;
	text-align: center;
}

div#frame {
	width: 1220px;
	height: 630px;
	margin: 60px auto 0 auto;
	overflow: auto;
}
.list_title a {
	font-weight: bold;
}
.list_snippet {
	padding-bottom: 12px;
	font-size: 0.9em;
}

iframe {
	width: 1220px;
	height: 660px;
	margin: 0;
	padding: 0;
	border: 1px solid silver;
}
